<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>StyleShare</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script>
        var csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
    </script>
    {% block head %}{% endblock %}
</head>
<body>
		<div>
			<nav class="navbar navbar-default">
				<div class="col-lg-6 col-lg-offset-3
				col-md-8 col-md-offset-2
				col-sm-10 col-sm-offset-1
				col-xs-12">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
                        <a class="navbar-brand" href="{{ url_for('view.index') }}">Home</a>
                        <a class="navbar-brand" href="{{ url_for('view.url_list') }}">URL 리스트</a>
					</div>
					<div class="collapse navbar-collapse" id="top-nav">
						<ul class="nav navbar-nav navbar-right">
						</ul>
					</div>
				</div>
			</nav>
			<div class="col-lg-6 col-lg-offset-3
				col-md-8 col-md-offset-2
				col-sm-10 col-sm-offset-1
				col-xs-12" style="position: relative;">

				<h1>{% block title %}{% endblock %}</h1>

				{% block content %}
				{% endblock %}
			</div>
		</div>
</body>
</html>